.leftBar{
    width: 10%;
    height: 100%;
    background-color: #383737;
    position: absolute;
    left: 0%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    border-right: #383737 solid 2px;
   
}
.leftBar div{
    background-color: #e77529;
    border-bottom: #383737 solid 2px;
    padding: 20px;
    color: white;
}