
  
  .bannerContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .bannerContainer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .bannerImage {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
  }
  
  .bannerContent {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    width: 50%;
  }
  
  .bannerContent h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  
  .bannerContent p {
    font-size: 20px;
  }