.registration {
    margin: auto;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    background-color: #2b2a2a;
    width: 50%;
    color: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    justify-content: center;
    background-color: #373535;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
form label{
    font-weight: bold;
}
form input{
    background-color: #1f1e1e;
    border-radius: 5px;
    padding: 6px;
    max-width: 90%;
}
.connexion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px #ff6600;
}

.loginBtn {
    margin-top: 15px;
    background-color: #cf590a;
    color: white;
    padding: 12px;
    font-weight: bold;
    border: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.loginBtn:hover {
    background-color: #ff6600;
}

.inscription {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373535;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 15px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.cta-inscription p{
    color: #f2a978;
    font-weight: bold;
}

.title-registration {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
    border-bottom: solid 2px #ff6600;
}
.container-inscription{
    display: flex;
    justify-content: center;
    height: 100%;
}
.inscriptionBtn {
    margin-top: 15px;
    background-color: #ffffff;
    border: solid 2px #ff6600; 
    color: #ff6600;
    padding: 12px;
    font-weight: bold;
    
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.inscription-modal {
    width: 20%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.inscription-modal h1{
    text-align: center;
    font-weight: bold;
}
  
.title-registration {
    font-size: 20px;
    margin-bottom: 10px;
}
.registrationForm{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registrationForm input{
    width: 100%;
    color: white;
}
.registrationForm label{
    font-weight: bold;
}
.close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #888;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .registration-success {
    background-color: #28a745; /* Couleur de fond verte pour le succès */
    border-radius: 8px; /* Bord arrondi */
    padding: 20px; /* Espace intérieur */
    color: white; /* Texte blanc */
    text-align: center; /* Alignement du texte au centre */
    margin-top: 20px; /* Marge en haut pour l'espace */
  }
  .registration-success h2{
    font-size: 20px;
    font-weight: bold;
  }